
#bodySubmit {
    display: flex;
    justify-content: center; 
    align-items: center;
}
#containerSubmit {
    width: 500px;
    height: 500px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#calculate {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    justify-content: space-around;
}
.calculate__row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.calculate__child {
    width: 100px;
    height: 50px;
    background-color: red;
    margin: 20px;
    text-align: center;
    color: white;
}
#commentary__name {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.css-form{
    display: flex;
    flex-direction: column;
    padding: 1em;
    box-shadow: 5px 6px 12px 14px rgb(255 255 255 / 30%);
    background: #8400ff66;
    width: 350px;
}
.inputForm{
    border-radius: 5px;
      height: 3em;
      width: 100%;
      padding: 1em;
      border: none;
      margin: 0.5em 0 1em 0;
      background: rgba(197, 191, 191, 0.5);
      color: white;
}