@media only screen and (max-width: 960px) {
    #section2-sub__container>h2 {
        width: 100%;
        font-size: 30px;
    }
    .blue-bullets>li {
        width: 100%;
    }
    .blue-bullets {
        width: 90%;
    }
    .srollBtn >p {
        font-size: 30px;
    }
    #commentary__name {
        font-size: 40px;
        width: 100%;
        flex-direction: column;
    }

    #random__text--left{
        position: absolute;
        left:0px;
        top: 200px;
        width: 300px;
        height: 300px;
        color: white;
    }
    #random__text--right {
        position: absolute;
        right: 0px;
        width: 300px;
        height: 300px;
        top: 200px;
        color: white;
    }

    .calculate__child {
        margin: 10px;
        background: linear-gradient(to right, #fbc7d4, #a52381);
        font-family: 'Lato', sans-serif;
        height: 30px;
        padding: 0px;
        width: 100px !important;
        min-width: 50px;
        text-align: center;
        border-radius: 3px;
        opacity: 1;
        overflow: hidden;
        color: #000000;
        padding: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .calculate__child>.contentNum {
        margin-block-start: 0px;
        margin-block-end: 0px;
        font-weight: 900;
        font-size: 15px;
        font-family: sans-serif;
    }
    .calculate {
        width: 100%;
    }
    #calculate-container{

        flex-direction: column;
    }
    #calculate__result {
        height: 30px;
        padding: 0px;
        width: 70px !important;
        min-width: 50px;
        font-size: 30px;
        padding: 10px;
    }
    #containerSubmit {
        padding: 10px;
        min-width: 0;
      
    }
    #calculate__icon, #calculate__result{
        display: none;
    }
    #bodySubmit__title>h1 {
        font-size: 30px;
    }
    #bodySubmit__title>p {
        font-size: 20px;
        margin-bottom: 10px;
    }
    
}

@media only screen and (max-width: 750px) {
    #logo>img {
        width: 100%;
    }

    #random__text--left,
    #random__text--right {
        width: 300px;
        left: 0px;
        right: 0px;
        top: 0px !important;
        height: 500px;
    }

    #commentary__name {
        font-size: 30px;
    }

    #bodySubmit__title {
        width: 90%;
    }

    #containerSubmit__circle--nummain>img {
        width: 300px;
        height: 300px;
    }

    #bodySubmit {
        min-height: 600px !important;
        overflow: hidden;
    }

    #section2-sub__container {
        width: 100%;
    }

    #section2-sub__container>h2 {
        font-size: 30px;
        width: 90%;
        text-align: start;
    }

    .blue-bullets {
        width: 90%;
    }

    .blue-bullets>li {
        font-size: 20px;
        padding-left: 0px;
    }

    .blue-bullets>li:after {
        left: -30px;
    }

    .srollBtn>p {
        font-size: 25px;
    }

    .calculate__child {
        margin: 10px;
        background: linear-gradient(to right, #fbc7d4, #a52381);
        font-family: 'Lato', sans-serif;
        height: 30px;
        padding: 0px;
        width: 80px !important;
        min-width: 50px;
        text-align: center;
        border-radius: 3px;
        opacity: 1;
        overflow: hidden;
        color: #000000;
        padding: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .calculate__child>.contentNum {
        margin-block-start: 0px;
        margin-block-end: 0px;
        font-weight: 900;
        font-size: 15px;
        font-family: sans-serif;
    }
    .calculate {
        width: 100%;
    }
    #calculate-container{

        flex-direction: column;
    }
    #calculate__result {
        height: 30px;
        padding: 0px;
        width: 70px !important;
        min-width: 50px;
        font-size: 30px;
        padding: 10px;
    }
    #containerSubmit {
        padding: 10px;
        min-width: 0;
    }
    #calculate__icon, #calculate__result{
        display: none;
    }
    #bodySubmit__title>h1 {
        font-size: 30px;
    }
    #bodySubmit__title>p {
        font-size: 20px;
        margin-bottom: 10px;
    }
}
